{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    ["transform-react-jsx", { "useBuiltIns": true }],
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ]
}
