@import 'resets';
@import 'variables';

html {
  height: 100%;
  font-family: $font-main;
  font-size: 100%;
}

body {
  @extend %reset-body;
  height: 100%;
}

* {
  &::before,
  &::after {
    box-sizing: border-box;
  }
}
